@import url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/css/rus.css");
#messagebuffer.linewrap a {max-width: 100% !important}
#messagebuffer a,#motdwrap a,footer a{color:#fff;text-decoration:none;position:relative;left:0;top:0;display:inline-block}#messagebuffer a:hover,#motdwrap a:hover,footer a:hover{color:#836fc1;text-decoration:none}#messagebuffer a:before,#motdwrap a:before,footer a:before{position:absolute;bottom:0;left:0;display:block;width:100%;height:1px;max-width:0;content:"";background-color:#836fc1;transition:max-width 150ms linear}#messagebuffer a:hover:before,#motdwrap a:hover:before,footer a:hover:before{max-width:100%}#chatline-inner{position:relative}:focus{outline:0!important;box-shadow:none!important}footer{min-height:30px;opacity:.5;transition:.1s;background-color:#836fc1!important}footer:hover{opacity:1}p{margin:0}
 
/*.shout,*/ .poll-notify {font-size: 110%; color: skyblue;} /* размер шрифта в /say */
.timestamp.shout {font-size: 8pt; color: inherit; font-weight: 400;}
h1,h3 {margin: 0; padding: 0; font: normal 24px 'Exo 2';} /* заголовки */
 
#messagebuffer {overflow: auto; border-left: 1px dotted rgba(0, 60, 100, .5);}
.modal {
    background: rgba(0, 11, 33, .8);
}
/*#chatwrap, #leftcontrols, #leftpane {
    width: 35%;
}
#videowrap {padding: 0; width: 100%;}
#chatwrap {padding-left: 0; padding-right: 0; width: 55%}
#chatwrap, #leftcontrols, #leftpane {
    width: 35%;
}
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {
    margin-left: 0%;
    margin-right: 0%;
    padding: inherit;
}
#videowrap, #rightcontrols, #rightpane {
    width: 63.5%;
    margin-right: 0;
}*/
 
#currenttitle, #mediainfo {
    background-color: rgba(0,0,0,0.7) !important;
}
 
#currenttitle, #mediainfo {
    text-align: center;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: 0 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(42, 59, 148, 0.5);
    border: 0 #fff;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
    background: #000a14;
    border: 0 #fff;
}
 
.server-msg-reconnect {
    background-color: #62c462 !important;
    color: black !important;
}
.nick-hover {
    background-color: #ffffff38;
}
.modal-body, .modal-content {
    background: rgba(0,0,0,0.7);
}
/*textarea.form-control {
    color: black;
    background-color: rgb(255, 255, 255) !important;}*/
 
 
 
/*.userlist_owner {
    color: #008dcf !important;
}*/
body{background-image: url('https://kazasou.files.wordpress.com/2011/12/konachan-com-121431-black_hair-blue_eyes-long_hair-original-tagme-thighhighs-white_hair.jpg'); background-size:cover;background-repeat:no-repeat;background-attachment: fixed;background-color: black}

#nav-collapsible, 
#userlist, 
#chatheader, 
#mediainfo, 
#channeloptions > div.modal-dialog > div,
.dropdown-menu,
#emotelist > div.modal-dialog.modal-dialog-nonfluid > div,
#wrap,
#emotelist > div.modal-dialog.modal-dialog-nonfluid > div > div.modal-body > table > tbody {background-color: rgba(0,0,0,0.7) !important; border: none}
#footer{display: none}
#plmeta,
#mediainfo,
#currenttitle,
.well{border: none}
.btn, .btn:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 110, 0, 0.6);
}
.btn-default {
    color: #efefef;
    background: none repeat scroll 0 0 rgba(13, 15, 15, 0.6) !important;
    border-color: black;
}
input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control {
    background-color: rgb(13, 15, 15, 0.6) !important;}
#channeloptions > div.modal-dialog > div > div.modal-header > button{color: red; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #2e8e3a;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #2e8e3a;
    border: 1px solid #1c1e22;
    border-bottom-color: transparent;
    cursor: default;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ee5f5b;
}
.label-default {
    background-color: transparent;
}
body{background-color:#000000;background-image: url(https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/Wallpaper-Abstract-Photos.jpg);}
.well{background-color: transparent}
#messagebuffer{background-color: rgba(0, 0, 0, 0.8)}
input.form-control[type="text"] {
    background-color: #000000 !important;}
 
@media (max-width: 992px){
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {width: 100% !important;}
#main {
    flex-direction: column;
}
#main {display: flex;}
}
}
 
#chat-panel, #titlerow-outer {
    background-color: rgba(0,0,0,0.6);
}
#showsearch > span.hidden-xs, #showcustomembed > span.hidden-xs, #showplaylistmanager > span.hidden-xs {
    font-size: 0;
}
#showmediaurl {
    font-size: 0px;
    padding: 0px;
    height: 28px;width: 28px;
}
#showmediaurl:before {
    font-size: 19.5px;
    font-weight: bold !important;
    content: "\2b";
    margin: 10px;
}
 
.close, .modal .close {
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
.modal-header .close {
    margin-top: -2px;
}
.modal .close {
    font-size: 2em;
    color: rgba(205, 205, 205, .5);
    opacity: 1;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
#set-width-wrap{display:none}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}
html {
    overflow-x: hidden;}
.col-lg-5, .col-md-5 {
    padding-left: 0px
}
 
#currenttitle, #mediainfo {
    text-align: center;}
#pictures-trash {
    display: table-cell;
    min-height: 50px;
    border-right: 2px solid rgba(0,10,20,.75);
    width: 60px;
    background: rgba(0,10,20,.5);
    border-top-left-radius: 6px;
}
 
#modal-picture, .affix {
    position: fixed;
}
 
#modal-picture-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
}
 
#modal-picture, #modal-picture-overlay {
    width: 100%;
    height: 100%;
}
#modal-picture img {
    width: auto;
    height: 50%;
}
.ce-themes__item__picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}
.ce-themes__item.active {
    border: 1px solid #78cc78;
    cursor: auto;
}
.ce-themes__item {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    cursor: pointer;
}
#modal-picture-options-wrapper, #pictures-trash {
    position: relative;
}
.chat-picture {cursor: -webkit-zoom-in;max-width: 220px}
#image_preview{max-height: 300px}
#modal-picture img{width:auto;height:50%}
#modal-picture{left:100%;top:90%;z-index:100000000}
#modal-picture,.affix{position:fixed}
#modal-picture,#modal-picture-overlay{width:100%;height:100%}
#favourite-pictures-panel,#smiles-panel{text-align:center;margin:4px 10px 10px;border:2px solid rgba(0,10,20,0.75);background-color:rgba(0,10,20,0.3);border-radius:6px}#favourite-pictures-panel{border-bottom:none;border-bottom-left-radius:inherit;border-bottom-right-radius:inherit}#favourite-pictures-panel img,#smiles-panel img{margin:5px;max-height:40px;max-width:80px;cursor:pointer}#pictures-trash{display:table-cell;min-height:50px;border-right:2px solid rgba(0,10,20,.75);width:60px;background:rgba(0,10,20,0.5);border-top-left-radius:6px}.favourite-pictures-panel-row{display:table;width:100%;border:none;min-height:60px}#pictures-body-panel{display:table-cell}.pictures-trash-icon{position:absolute;top:50%;left:50%;margin-top:-7px;margin-left:-7px}#pictures-trash.favourite-picture-drop-hover{background:rgba(245,28,22,.6)}.chat-avatar{margin-right:5px;background:rgba(255,255,255,.9);border-radius:5px}.chat-avatar_hidden{display:none}.chat-avatar_small{max-width:30px;max-height:22px}.chat-avatar_big{max-height:75px;max-width:80px;margin-top:2px;margin-bottom:2px;border-radius:7px}
.queue_active .qe_title {
    font-size: 12pt;
    background-image: url(https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/kobato_pl.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
}
.cirno/*, .userlist_item .userlist_owner*/ {
    color: rgb(131, 111, 193) !important;
    font-weight: bold !important;
}
#modal-picture {
    left: 100%;
    top: 90%;
    z-index: 100000000;
    box-sizing: border-box;
}
.ce-themes__item {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    cursor: pointer;
}
.ce-themes__item__title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #fff;
    background: rgba(0,0,0,.8);
    padding: 10px;
    z-index: 5;
}
.channel-emote {
    max-width: 100px !important;
    max-height: 80px !important;
}
col-lg-12, .col-md-12 {
    padding-left: 0px;
}
#userlist{padding-left: 3px !important}
.nick-highlight, .nick-hover {
    background-color: rgba(49, 49, 49, 0.7) !important;
    color: #f9f9f9 !important;
}
.navbar-header{background-color: black}
 
@media (min-width: 768px){
#nav-collapsible > ul > li:nth-child(1) > a > b{display:none !important;}
#nav-collapsible > ul > li:nth-child(5) > a,
#ce-ui, #showchansettings,
#nav-collapsible > ul > li:nth-child(3) > a,
#nav-collapsible > ul > li:nth-child(2) > a,
#nav-collapsible > ul > li:nth-child(1) > a{font-size: 0px;height: 50px;width:50px;}
#nav-collapsible > ul > li:nth-child(2) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/bullets_list_bullet_arrow-512.png") no-repeat 0 0;
    background-size: 100%;
}
#nav-collapsible > ul > li:nth-child(3) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/Skills.png") no-repeat 0 0;
    background-size: 100%;
}
#nav-collapsible > ul > li:nth-child(4) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/settings.png") no-repeat 0 0;
    background-size: 100%;
}
#ce-ui:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/Apps-Settings-icon.png") no-repeat 0 0;
    background-size: 100%;
}

#nav-collapsible > ul > li:nth-child(5) > a:after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: -28px;
    left: -6px;
    background: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/Apps-Settings-icon.png") no-repeat 0 0;
    background-size: 100%;
}
}
#nav-collapsible > ul > li.dropdown.open > a > b{display: none !important}
.motd-tab-content{background-color: rgba(0,0,0,0.7)}
#leftcontrols .btn {
    margin-right: 0px;
}
body {overflow-x: hidden}
.channel-frame {
    margin: 10px 10px;
    padding: 1px 10px;
    border: 2px solid;
border-style: dashed;
border-color: #008dcf;
}
.dropdown-menu, .profile-box, .videolist .queue_entry {
    background: rgba(0,0,0,0.6);
}
#chatheader, #chatline, #currenttitle, #plmeta, #messagebuffer , .btn, .form-control, .modal-content, .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover, .profile-box, .queue_entry, .user-dropdown, .well {
    border-radius: 0;
    border: none;
}
 
.queue_active a:before, .queue_active {
    background: linear-gradient(to bottom,rgba(0,10,20,.8),rgba(64, 75, 152, 0.67))!important;
}
table, table td {
    background-color: transparent;
}
.container-fluid {padding-left: 0px !important;}
 
.col-lg-12,  .col-md-12 {padding-left: 0px;}
 
.row {margin-left: 0px;margin-right: 0px;}#main, #controlsrow{margin-right: -15px}#playlistrow{margin-right: -30px !important}
.input-group-addon{background-image: linear-gradient(#323562,#2b2a56 60%,#2b2d54);}
 
.userlist_owner.CTX { color: #ec2b2b !important; font-weight: bold !important;}
.userlist_owner.agap{ color: #e85858 /*#836fc1*/ !important; font-weight: bold !important;}
 
@media (max-width: 768px){#userlist, #messagebuffer{height: 50vh !important;}#doc_time{font-size: 16px !important}}
#doc_time{color: #75cbff}

#chatline{background-color: rgb(13, 15, 15, 0.6) !important;
}
textarea.form-control {
    color: #f5f2f2;}
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {
    width: 100% important;
}
.modal {
position: fixed;
top: 0;
z-index: 1040;
display: none;
overflow: auto;
overflow-y: scroll; 
}
#videowrap{overflow-x: none}
 
.action {
    color: #93de99;
}
 
 
/*main*/
#plmeta{font-size: 11px;}
#plcount{padding-left: 5px;}
#main {background-color: rgba(0,0,0,0) !important;}
/*.chat-picture {
    max-width: -webkit-fill-available !important;
}*/
/*****/
@media (min-width: 768px){.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 50px !important;
}
.navbar{height: 50px !important;}}
#chatwrap, #videowrap, #rightcontrols {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#rightpane{
    padding-left: 0px !important;
    padding-right: 9px !important;
}

.userlist_owner {
    color: #836fc1 !important;
}

.userlist_op{color: #00aa00!important;}

#currenttitle {display: block !important; text-shadow: 1px 1px #091018, 2px 2px #091018;}

#userlist{padding-left: 0px !important}

#chatheader, #videowrap-header {
    height: 22px !important;
    text-align: left;
padding-top: 2px;
padding-left: 2px;
background-color: rgba(0,0,0,0.7) !important;
}
#chatwrap{height: calc(100% + 22px)}

/*.userlist_owner {
    color: #FFFFFF!important;
    background: linear-gradient(to right, #4088ff, #ffb40c, #ff0000, #5600ff);
    color: transparent!important;
    text-shadow: 0px 0px 6px rgba(255, 255, 0, .33);
    font-variant: small-caps;
    -webkit-background-clip: text;
    background-clip: text;
}*/
#chatheader, #videowrap-header {border: none !important}
#userlist{word-wrap: break-word !important}
@media (max-width: 992px){
#mainpage {
    overflow-x: hidden;
}
}
#currenttitle {
    margin-right: -10px;
}


@keyframes afbutton 
{
     0% { transform: rotateY(0deg); } 
    25% { transform: rotateY(90deg); } 
    50% { transform: rotateY(180deg); } 
    50% { transform: rotateY(270deg); } 
    100% { transform: rotateY(360deg); }
    } 
#addvideo-help-btn > i{
    transform-style: preserve-3d;
    /*animation: afbutton 3s infinite;*/}

/*#wrap > nav > div.navbar-header > a::after,*/ .motd-tab-btn::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

#wrap > nav > div.navbar-header > a, .motd-tab-btn {
  position: relative;
  overflow: hidden;
}

@keyframes sheen {
   100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}


#wrap > nav > div.navbar-header > a:hover::after, .motd-tab-btn:hover::after { animation: sheen 1s forwards; }

/*#pictures-control-panel, #picture-address{position: fixed; bottom:40px;left: 10px;width:calc(30vw - 5px) !important;}
#picture-address{position: absolute; top:32px;left: -12px;width:calc(30vw - 10px) !important;}
#favourite-pictures-panel{height: 100%;overflow-y: hidden;}
#pictures-control-panel{background-color: rgba(0,0,0,0.7);}*/

#motdimg,

#motd-tabs-wrapper,#motd {
    margin-right: -30px;
}
#controlsrow {
    margin-top: 1px;
}



/*padding right fix*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-left: 0px !important;
padding-right: 0px !important;
}


#motdimg, #motd-tabs-wrapper, #motd, #main, #controlsrow, #currenttitle {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#playlistrow {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#rightpane {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.motd-tab-content {
    padding: 10px;
}

/***** Channel style fix *****/
@media (min-width: 768px){
.cirno .chat-picture {max-height: 150px;}
#emotelistbtn{display: none !important}
}
@media (min-width: 992px){
#rightpane-inner {padding-left: 0% !important;}
}
.pm-buffer{background-image: url("https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/8eLvYwm.png") ;background-position:right;background-size:contain;background-repeat: no-repeat;background-color: rgba(0, 0, 0, 0.5);}
.panel.pm-panel.panel-default{color: #FFFFFF;font-weight: bolt;}
.pm-panel>.panel-heading{background-color: rgba(0, 0, 0, 0.2);font-color: white;}
.panel.pm-panel.panel-primary{background-color: rgb(28, 109, 128);}
#chat-panel::-webkit-scrollbar-thumb {background: rgb(112, 41, 99);}
}
textarea.form-control {color: #fffefe !important}
#currenttitle, #mediainfo {text-align: center;}
#footer{display: none !important}
#nav-collapsible > ul > li:nth-child(1), #nav-collapsible > ul > li:nth-child(5){display:none}
#videowrap-header {height: 24px !important}
#currenttitle, #mediainfo {text-align: center !important;}
.chat-picture {max-height: 100px;}
#nav-collapsible > ul > li:nth-child(2) > a > b{display: none !important;}
#pictures-body-panel > img, #smiles-panel > img {max-height: 40px !important;}
#messagebuffer a {max-width: -webkit-fill-available !important;}
#userlist{max-width: 105px !important}
#library {list-style: decimal;padding-left: 30px;background-color: rgba(0,0,0,0.7);} 
/*#togglemotd{display: none !important}*/
.navbar-header > a{font-size:0;}
.navbar-header > a:before{content: 'Анимач+';font-size: 14px !important;}
/*.userlist_afk span.userlist_guest, .userlist_afk, .userlist_afk span.userlist_op, .userlist_afk span.userlist_owner{color: #696464 !important;text-decoration: line-through}*/
#userlist{word-wrap: break-word}
/***** Channel style fix END *****/

/*****Color scrollbar on webkit*****/
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-button {width: 0;height: 0;}
::-webkit-scrollbar-corner {background: 0 0;}
::-webkit-scrollbar-thumb {background: rgba(42, 59, 148, 0.5);border: 0 #fff;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {background: #000a14;border: 0 #fff;}
/*****Color scrollbar on webkit END*****/

.userlist_afk span.userlist_guest, .userlist_afk, .userlist_afk span.userlist_op, .userlist_afk span.userlist_owner{color: #696464 !important;}

/*nav style fix*/
@media (min-width: 768px){
#nav-collapsible > ul > li:nth-child(n) > a:after {
    top: -8px !important;
}
.navbar-nav>li>a {
    line-height: 0px;
}
} 
/*nav style fix end*/

#chatheader .label {
    margin-left: 0px !important;height: 65% !important;}
#addvideo-help-btn{color: green}
.label {
    padding: 1px 4px 0px;}
/*#newpollbtn:Before{
font-family: 'Glyphicons Halflings';
  content: "\e065";
  font-size: 12px;
}
#newpollbtn{font-size: 0px;}
#newpollbtnBefore{font-size: 12px;content: "Опрос";}*/

@media (max-width: 1050px){
/*#usercount.pointer {
    position: fixed;
    right: 20px;
	width: 125px;
    top: 32px;
    z-index: 1050;
}*/
}

@media (max-width: 768px){
/*#usercount.pointer {
    left: 33%;
    top: 15px;
}*/
#chatheader{
    height: 40px !important;
    padding-top: 10px;
    padding-left: 0px;
}

#chatheader .label {
    margin-left: 0px !important;
    height: 56% !important;
    padding: 10px 5px 20px 5px;
    margin: -7px 5px 0px 0px;
    border: black 1px solid;
	background-color: #ffffff14;
}
.label {
    font-size: 85%;}
}
@media (max-width: 992px){
#chat-panel {
    top: 40px !important}
#videowrap-header{display: none}
}
.pm-history-message{border: rgba(255, 255, 255, 0.27) 1px solid;margin: 5px;padding: 5px;}.pm-history-message:empty{display: none}.pm-history-message-time{color: #836fc1;font-weight: bold;}.pm-history-message-username{font-weight: bold;}.pm-history-message-username:after{content:': ';}.pm-history-content{max-height: calc(100vh - 240px);overflow-y: auto;}

@media (max-width: 992px){
.profile-box.linewrap {
    display: none !important;
}
#userlist > div.userlist_item > div.user-dropdown > strong {font-size: 20px;}
}
.spoiler .chat-picture,.spoiler .channel-emote{opacity: 0;}
.spoiler .chat-picture:hover,.spoiler .channel-emote:hover{opacity: 1;}
#queue .popover, .popover.left>.arrow{ position: absolute;top: 1px !important; left: -272px !important;}
.popover-title {background-color: rgba(0, 0, 0, 0.3);}
.popover { background-color: rgba(0, 0, 0, 0.7);}  
.ce-extras__item__title {font-weight: bold;color: cadetblue;}

.spoiler a {
    color: #000000 !important;
}
.spoiler a:hover {
    color: #836fc1 !important;
}

#ce-extras__content > div.ce-extras > div > div{background-color: #66339942;padding: 5px;margin: 5px;}

#findMoviePanelToggle {background: url(https://gitlab.com/Vortxxer/ebengrad/-/raw/main/img/TofKxrB.png) no-repeat !important;height: 24px !important;width: 24px !important;margin-bottom: 0px!important;}

#chatline{border:none!important;} 
