/* опрос */
#pollwrap > div > strong:nth-child(2),
#pollwrap > div > strong:nth-child(4),
#pollwrap > div > strong:nth-child(8){visibility: hidden;}
#pollwrap > div > strong:nth-child(2):before{content: "Заголовок";visibility: visible;}
#pollwrap > div > strong:nth-child(4):before{content: "Таймаут (опционально)";visibility: visible;}
#pollwrap > div > p:before{content: "Если вы укажете тайм-аут, опрос будет автоматически закрыт по истечении этого времени. Вы можете либо указать количество секунд, либо использовать формат минуты: секунды. Примеры: 90 (90 секунд), 5: 30 (5 минут, 30 секунд)";font-size: 14px;}
#pollwrap > div > strong:nth-child(8):before{content: "Варианты";visibility: visible;}
#pollwrap > div > p,
#pollwrap > div > div > label,
#pollwrap > div > button.btn.btn-sm.btn-default,
#pollwrap > div > button.btn.btn-default.btn-block,
#pollwrap > div > button.btn.btn-sm.btn-danger.pull-right{font-size: 0px;}
#pollwrap > div > div > label:after{content: "Скрыть результаты до конца голосования";font-size: 14px;}
#pollwrap > div > button.btn.btn-sm.btn-default:after{content: "Добавить ещё один вариант";font-size: 14px;}
#pollwrap > div > button.btn.btn-default.btn-block:after{content: "Открыть голосование";font-size: 14px;}
#pollwrap > div > button.btn.btn-sm.btn-danger.pull-right:after{content: "Закрыть";font-size: 14px;}
/* кнопки в плейлисте */
.qbtn-play,
.qbtn-next,
.qbtn-tmp, 
.queue_temp > .btn-group > .btn.btn-xs.btn-default.qbtn-tmp,
.qbtn-delete{font-size: 0px;font-style: normal;font-weight: 400;line-height: 1.5;-webkit-font-smoothing: antialiased;font-family: 'Glyphicons Halflings';}
.qbtn-play:after{content: "\e072 Воспроизвести";font-size: 12px}
.qbtn-next:after{content: "\e095 Следующее";font-size: 12px}
.queue_temp > .btn-group > .btn.btn-xs.btn-default.qbtn-tmp:after{content: "\e034 Закрепить";font-size: 12px}
.qbtn-tmp:after{content: "\e034 Открепить";font-size: 12px}
.qbtn-delete:after{content: "\e020 Удалить";font-size: 12px}

#queue_next,
#queue_end,
#addfromurl > div.checkbox > label{font-size: 0px;}
#queue_next:after{content: 'Следующим';font-size: 14px;}
#queue_end:after{content: 'В конец';font-size: 14px;}
#addfromurl > div.checkbox > label:after{content: 'Добавить как временное';font-size: 14px;}
